{
  "singleQuote": true,
  "tabWidth": 4,
  "semi": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
